<h2>My Star Wars Api</h2>
<p>
  Tarea 1 - Taller de Integracion
</p>


<h2>Films </h2>

<table>
  <tr>
    <th>Episode</th>
    <th>Name</th>
    <th>Release Date</th>
    <th>Director</th>
    <th>Producers</th>
  </tr>

  <% @films.each do |film| %>
  <tr>
    <td>   <%= film['episode_id'] %> </td>
    <td>   <%= button_to film['title'], welcome_path, method: :get, params: {film_url: film['url']} %> </td>
    <td>   <%= film['release_date'] %> </td>
    <td>   <%= film['director'] %> </td>
    <td>   <%= film['producer'] %> </td>
  </tr>

  <% end %>

</table>
